<h1>IT Career</h1>

<a href="https://github.com/PerScholasNYC/PythonPS/blob/master/simplePuzzle.py">Check out the first game that me and Connie made.</a>

<h2>Future Goals</h2>
<p>
  Comptia Security+ </br>
  CCNA </br>
  Comptia Server+ </br>
  MCSA </br>
  C++ </br>
  HTML </br>
  Desktop Support Engineer
</p>


<h3>What did you think about the Python Course?</h3>
<form>
  Name:  <input type="text" name="User"
  placeholder+"Name"> </br>
  Thoughts:  <input type="text" name="Thoughts"
    placeholder+"Name">
  <button>Submit</button>
</form>

<a href="/index">back to home</a>
